<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true" />
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="vladopecaros@gmail.com">
                <network host="smtp.gmail.com" password="" port="587" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Accessing/login.aspx" />
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=PC-PC\SQLEXPRESS;Database=UsersLoginInfo;Integrated Security=true" name="UserLoginInfo" />
        <add connectionString="Server=PC-PC\SQLEXPRESS;Database=UsersLoginInfo;Integrated Security=true" name="LocalSqlServer" />
        <add connectionString="Data Source=PC-PC\SQLEXPRESS;Initial Catalog=Users;Integrated Security=True" name="Users"/>
        <add connectionString="Data Source=PC-PC\SQLEXPRESS;Initial Catalog=Posts;Integrated Security=True" name="Posts"/>

    </connectionStrings>
</configuration>
