body {
    background-color: #091b38;
    color: white;
    font-size: 18pt;

}

a:visited{
    color:antiquewhite;
}
a{
    color:antiquewhite;
}
a:hover{
    color:burlywood;
}

.ExpandingDiv{
    opacity: 0;
}
.ExpandingDiv{
    opacity: 1;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible;
}
@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }

    60% {
        -webkit-transform: scale(1.1);
    }

    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.DivButton, .PostButton{
    padding: 3px 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #666;
}
    .DivButton:hover, .PostButton:hover {
        background-color: #3e8e41
    }
    .DivButton:active, .PostButton:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.LikeButton {
    font-size:17px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
}

.ReportButton {
    font-size: 17px;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
}

.TextBox {
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #1c91e4;
    border-style: solid;
    border-radius: 14px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

